body,tr,a,.p {
	font-family: calibri, arial, sans-serif;
	background-color: #C3D9FF;
}

div,td {
	color: #000000
}

a:link,.w,.w a:link {
	color: #0000cc
}

a:visited {
	color: #551a8b
}

a:active {
	color: #ff0000
}

.gwt-TextBox-error {
	border-style: groove;
	border-width: 2px;
	border-color: red;
	margin: 2px;
}

.gwt-PasswordTextBox-error {
	border-style: dotted;
	border-width: 1px;
	border-color: red;
}

.gwt-Label-form {
	font-size: 14px;
}

.gwt-Label-big {
	font-size: 22px;
}

.gwt-Label {
	color: #FFFFFF;
	font-weight: bold;
}

.gwt-Button {  
  margin-right: 3px;
}

.gwt-Label-error {
	color: #F00000;
	font-weight: bold;
	font-size: 16px;
}

.gwt-Label-form-title {
	font-weight: bold;
	font-size: 22px;
	background-color: #FFFFFF;
	border: 2px solid #9FC4FF;
	color: #AFCCFF;
	margin-bottom: 5px;
	text-align: center;
}

.gwt-Label-title {
	font-weight: bold;
	font-size: 40px;
}

.gwt-Label-content-title {
	margin-top: 20px;
}

.gwt-Label-driverSelection {
	font-size: 14px;
	font-weight: normal;
}

.f2007-input-panel {
   background-color: #AACCFF;
   border: 2px solid #3366CC;
   font-weight: bold;
}

/* Apply padding to every element within the input panel */
.f2007-input-panel * {
   padding: 3px;
}

.gwt-MenuBar { 
}

.gwt-MenuBar .gwt-MenuItem { 
	color: #FFFFFF;
	font-weight: bold;
	background-color: #C3D9FF;
	border: 1px dotted #FFFFFF;
	/*	border: 1px solid #87B3FF; */
}
.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #9FC4FF; 
}

.southBorder {
	border-bottom: 1px solid #87B3FF;
}

.northBorder {
	border-top: 1px solid #87B3FF;
	margin-top: 10px;
}

.accountHeader {
	background-color: #9FC6FF;
	border: 1px solid #FFFFFF;
}

.accountEntryRow {
	background-color: #DFECFF;
}

.accountEntryRow:hover {
	background-color: #CFE3FF;
}

.accountEntry {
	color: #301c00;
	font-size: 12px;
}

.amount {
	text-align: right;
}

.buttonPanel {
	margin-top: 6px;
}

.form {
	margin-left: 50px;
	border: 1px solid #FFFFFF;
}

.form-Spacer {
	border-top: 1px solid #87B3FF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.error {
	border-style: groove;
	border-width: 2px;
	border-color: red;
	margin: 2px;
}

.gwt-Image {
	margin: 5px;
}

.gwt-ListBox-error {
	border-style: solid;
	border-width: 200px;
	border-color: red;
	margin: 2px;
	background-color: red;
}

.bidHeader {
	background-color: #9FC6FF;
	border: 1px solid #FFFFFF;
	font-size: 12px;
}

.bidEntryRow {
	text-align:
	background-color: #9FC6FF;
	border: 1px solid #FFFFFF;
	font-size: 12px;
}

.bidEntryRow:hover {
	background-color: #CFE3FF;
}

.gwt-Label-bidEntry {
	color: white;
	font-size: 12px;
}

.gwt-Label-bidEntry-3points {
	color: #01AF00;
}

.gwt-Label-bidEntry-2points {
	color: #FF910F;
}

.gwt-Label-bidEntry-1points {
	color: #BEBF47;
}