<html>
<body>
<h3>Hej ${player.firstName}</h3>

<div>
<p>
Det er snart tid til at spille på ${race.name}.<br/>
Spillet lukker ${weekday} klokken ${time}
</p>
<p>
Du kan spille <a href="http://f2015.bregnvig.dk">her</a>.
</p>
</div>

Wrouumm,<br/>
F1emming
</body>
</html>