<html>
<body>
<h3>Hej ${player.firstName}</h3>

<div>
<p>
Du har ikke penge nok til at spille ved det næste løb!<br/>
Du kan heldigvis nå at indsætte nogle penge på reg.nr.: 6610 Konto nr.2220715. 
</p>
<p>
Husk at skrive til mig når du har overført pengene!
</p>
</div>

Wrouumm,<br/>
F1emming
</body>
</html>